* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
    font-family: 'Kanit', sans-serif;

}

body{
    min-height: 100vh;
    background: linear-gradient( to bottom left,#06ff00,#008805,#0a5700);
}

.container{
    width: 400px;
    padding: 25px 25px;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: rgba(255, 255, 255, 0.86);
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size:  15px;
    margin-bottom: 8px;
    letter-spacing: 0.01em;
    position: relative;
    left: 25%;
}

.container input{
    width: 100%;
    height: 50px;
    border: 1px solid #00310f;
    outline: 0;
    padding: 10px;
    margin: 10px 0px 10px;
    border-radius: 10px;
    text-overflow: ellipsis;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.24);
}

.container button{
    width: 100%;
    height: 50px;
    background: #001dff;
    color: #fff;
    border: 0;
    outline: 0;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    font-size: 17px;
    font-weight: 540;

}

#imgBox{
    width: 200px;
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
}

#imgBox img{
    width: 100%;
    padding: 10px;
}

#imgBox.show-img{
    max-height: 300px;
    margin:10px;
    border: 1px solid #d1d1d1;
}

.error{
    animation: shake 0.1s linear 5;
}

@keyframes shake{
    0%{
       transform: translateX(0);
    }
        25%{
       transform: translateX(-2px);
    }
        50%{
       transform: translateX(0);
    }
        75%{
       transform: translateX(2);
    }
        100%{
       transform: translateX(0);
    }
}

